.project-section{
    position: relative;
    top: 80px;
}
.project-info{
    width: 550px;
    margin-right: 94px;
    height: 480px;
}

.header{
  z-index: 999 !important;
}

.footer{
    z-index: 1 !important;
}
.section-subtitle {
    font-size: 15px;
    margin-bottom: 30px;
   width: 250px;
   padding-right: 15px;
    display: block;
    color: #6c757d; }

 

    .info-title{
        font-size: 15px;
        color: #6c757d;
        margin-right: 8px;
    }

    .info-description{
        color: rgb(0, 48, 142);
        font-size: 14px;
        margin-right: 8px;
    }

    .project-info ul li {
        margin-bottom: 40px;
        /* border-bottom: 1px solid #6c757d;
        padding-bottom: 10px; */
    }

    .team-project img.circle {
        width: 95px;
        border-radius: 200px;
        margin-top: -25px;
        margin-right: -27px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
      }
      .team-project img.circle-shadow {
        width: 70px;
        border-radius: 200px;
        box-shadow: 0px 0px 0px 5px #2296cf;
    
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
      }
      .team-project img.circle-shadow:hover,img.circle:hover {
        border-radius: 0;
        box-shadow: none;
      }

      .team-project{
        flex-wrap: wrap;
        direction: ltr;
      }
      .team-info{
        margin-bottom: 30px;
      }


    
.project-details{
    top:580px;
}
.project-details-text{
    left: 130px;
    width: 500px;
    height: 250px;
    top: 80px;
}

.project-details-image{
    right: 50px;
    width: 600px;
    height: 300px;
    top: 80px;
}
.project-details-image img{
  max-height: 600px;
}

.project-details1{
    top: 1000px;
}

.project-details1 .project-details-text{
    right: 50px;
    width: 500px;
    height: 250px;
    top: 80px;
}

.project-details1 .project-details-image{
    right: 650px;
    width: 600px;
    height: 300px;
    top: 59px;
    z-index: 0;
}
.project-details1 .project-details-image img{
  max-height: 600px;
}

.project-details2{
    top:1400px;
}
.project-details2 .project-details-text{
    left: 130px;
    width: 500px;
    height: 250px;
    top: 80px;
}

.project-details2 .project-details-image{
    right: 50px;
    width: 600px;
    height: 300px;
    top: 59px;
}
.project-details2 .project-details-image img{
  max-height: 600px;
}



.project-details3{
    top: 1800px;
}

.project-details3 .project-details-text{
    right: 50px;
    width: 500px;
    height: 250px;
    top: 80px;
}

.project-details3 .project-details-image{
    right: 650px;
    width: 600px;
    height: 300px;
    top: 59px;
    z-index: 0;
}
.project-details3 .project-details-image img{
  max-height: 600px;
}


.gallery-section{
  top: 2300px;
}

.site-section-heading{
  color: #6c757d !important;
}

.plan-section{
  top: 2350px;
}

.map{
  position: absolute;
  top: 3000px;
}

.main-section{
  position: relative;
  top: 80px;
  z-index: 999;
}

.clearline{
  width: 100%;
  height: 50px;
  background: #2296cf;;
  position: fixed;
  bottom: 45px;

  opacity: .5 ;
}



