
.outer {
margin: 0 auto;
max-width: 570px;
z-index: 0;
left: 130px;


direction: ltr;
}
#big .item {
  background: #c9c9c9;
/* padding: 120px 0px; */
/* margin: 2px; */
color: #fff;
border-radius: 3px;
text-align: center;
cursor: grab;
}
#big .item img{



}
#thumbs .item {
background: #c9c9c9;
height: 80px;
line-height: 70px;
/* padding: 0px; */
margin: 2px;
color: #fff;
border-radius: 3px;
text-align: center;
cursor: pointer;
}
#thumbs .item h1 {
font-size: 18px;
}
#thumbs .current .item {
/* background: #ff5722; */
}
.owl-theme .owl-nav [class*="owl-"] {
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*="owl-"].disabled:hover {
background-color: #d6d6d6;
}
#big.owl-theme {
position: relative;
}
#big.owl-theme .owl-next,
#big.owl-theme .owl-prev {
/* background: rgb(0, 48, 142); */
width: 22px;
line-height: 40px;
height: 40px;
margin-top: -20px;
position: absolute;
text-align: center;
top: 50%;
color: #fff;
font-size: 35px;
}
#big.owl-theme .owl-prev {
left: 10px;
}
#big.owl-theme .owl-next {
right: 10px;
}
#thumbs.owl-theme .owl-next,
#thumbs.owl-theme .owl-prev {
background: #333;
display: none;
}

.owl-dots{
  display: none;
}

#big.owl-theme .owl-next:hover,
#big.owl-theme .owl-prev:hover {
  background:rgb(0, 48, 142); 
}

